<div class="row" *ngIf="isUserLoggedIn">
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container">
      <div class="col-md-12">
        <div class="col-md-2 text-center"><a routerLink="/home">Home</a></div>
        <div class="col-md-2 text-center"><a>Your Orders</a></div>
        <div class="col-md-2 text-center"><a>Orders History</a></div>
        <div class="col-md-2 text-center"><a routerLink="/tasks">Profile</a></div>
        <div class="col-md-2 text-center"><a routerLink="/cart">Cart</a></div>
        <div class="col-md-2 text-center"><a (click)="logout()">Logout</a></div>
      </div>
    </div>
  </nav>
</div>
