<div class="row">
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container">
      <div class="col-md-2 text-center"><a routerLink="/home">Home</a></div>
      <div class="col-md-2 text-center"><a>Your Orders</a></div>
      <div class="col-md-2 text-center"><a>Orders History</a></div>
      <div class="col-md-2 text-center"><a routerLink="/tasks">Profile</a></div>
      <div class="col-md-2 text-center"><a>Cart</a></div>
      <div class="col-md-2 text-center"><a>Logout</a></div>
    </div>
  </nav>
</div>
