<div class="container">
  <div class="col-md-12">
    <div class="col-md-4" *ngFor="let product of products">
      <div class="image-container"><img style="width:40%;" src="../../assets/iphone.jpg" alt="product"></div>
      <div>{{ product.title }}</div>
      <p> Seller: {{ product.sellerName }}</p>
      <p>Price: {{ product.productPrice | currency:'USD':true:'1.2-2' }}</p>
      <p><button class="btn btn-primary" routerLink="/home/{{product._id}}">View Details</button></p>
    </div>
  </div>
</div>
